NEXT_PUBLIC_SELECT_LANGUAGE="ja"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_CHANGE_ENGLISH_TO_JAPANESE="true"
NEXT_PUBLIC_BACKGROUND_IMAGE_PATH="/backgrounds/lumina-room.jpeg"
NEXT_PUBLIC_RESTRICTED_MODE="false"
NEXT_PUBLIC_LIVE2D_ENABLED="false"
NEXT_PUBLIC_SHOW_ASSISTANT_TEXT="true"
NEXT_PUBLIC_SHOW_CHARACTER_NAME="true"
NEXT_PUBLIC_SHOW_CONTROL_PANEL="true"
NEXT_PUBLIC_SHOW_QUICK_MENU="true"
NEXT_PUBLIC_SHOW_INTRODUCTION="false"
NEXT_PUBLIC_COLOR_THEME="sunset"
NEXT_PUBLIC_ALWAYS_OVERRIDE_WITH_ENV_VARIABLES="true"

NEXT_PUBLIC_CHARACTER_NAME="ロリポップ・ルミナ"
NEXT_PUBLIC_USER_DISPLAY_NAME="視聴者"
NEXT_PUBLIC_MODEL_TYPE="vrm"
NEXT_PUBLIC_SELECTED_VRM_PATH="/vrm/lollipop_lumina.vrm"
NEXT_PUBLIC_CHARACTER_POSITION="0,1.15,13.0,1"
NEXT_PUBLIC_CHARACTER_ROTATION="0,1.15,0"
NEXT_PUBLIC_FIXED_CHARACTER_POSITION="true"
NEXT_PUBLIC_LIGHTING_INTENSITY="1.35"
NEXT_PUBLIC_THINKING_POSE_ENABLED="true"
NEXT_PUBLIC_THINKING_POSE_ID="think"

NEXT_PUBLIC_CUSTOM_PRESET_NAME1="ロリポップ・ルミナ"
NEXT_PUBLIC_CUSTOM_PRESET_NAME2="お悩み雑談室"
NEXT_PUBLIC_CUSTOM_PRESET_NAME3="初見歓迎まつり"
NEXT_PUBLIC_CUSTOM_PRESET_NAME4="深夜しっとり雑談"
NEXT_PUBLIC_CUSTOM_PRESET_NAME5="小悪魔いじり回"
NEXT_PUBLIC_CHARACTER_PRESET1=""
NEXT_PUBLIC_CHARACTER_PRESET2=""
NEXT_PUBLIC_CHARACTER_PRESET3=""
NEXT_PUBLIC_CHARACTER_PRESET4=""
NEXT_PUBLIC_CHARACTER_PRESET5=""

NEXT_PUBLIC_SELECT_AI_SERVICE="ollama"
NEXT_PUBLIC_SELECT_AI_MODEL="qwen2.5:14b"
NEXT_PUBLIC_LOCAL_LLM_URL="http://localhost:11434"
NEXT_PUBLIC_MAX_PAST_MESSAGES="12"
NEXT_PUBLIC_TEMPERATURE="0.82"
NEXT_PUBLIC_MAX_TOKENS="768"
NEXT_PUBLIC_REASONING_MODE="false"
NEXT_PUBLIC_USE_SEARCH_GROUNDING="false"
NEXT_PUBLIC_ENABLE_MULTIMODAL="false"

NEXT_PUBLIC_SELECT_VOICE="voicevox"
VOICEVOX_SERVER_URL="http://localhost:50021"
NEXT_PUBLIC_VOICEVOX_SPEAKER="46"
NEXT_PUBLIC_VOICEVOX_SPEED="1.05"
NEXT_PUBLIC_VOICEVOX_PITCH="0.03"
NEXT_PUBLIC_VOICEVOX_INTONATION="1.15"
AIVIS_SPEECH_SERVER_URL="http://localhost:10101"
NEXT_PUBLIC_AIVIS_SPEECH_SPEAKER="888753760"
NEXT_PUBLIC_AIVIS_SPEECH_SPEED="1.04"
NEXT_PUBLIC_AIVIS_SPEECH_PITCH="0.03"
NEXT_PUBLIC_AIVIS_SPEECH_INTONATION_SCALE="1.12"
NEXT_PUBLIC_AIVIS_SPEECH_TEMPO_DYNAMICS="1.08"
NEXT_PUBLIC_AIVIS_SPEECH_PRE_PHONEME_LENGTH="0.08"
NEXT_PUBLIC_AIVIS_SPEECH_POST_PHONEME_LENGTH="0.12"

NEXT_PUBLIC_YOUTUBE_MODE="false"
NEXT_PUBLIC_YOUTUBE_COMMENT_SOURCE="onecomme"
NEXT_PUBLIC_ONECOMME_PORT="11180"
NEXT_PUBLIC_CONVERSATION_CONTINUITY_NEW_TOPIC_THRESHOLD="3"
NEXT_PUBLIC_CONVERSATION_CONTINUITY_SLEEP_THRESHOLD="7"

NEXT_PUBLIC_IDLE_MODE_ENABLED="true"
NEXT_PUBLIC_IDLE_PLAYBACK_MODE="random"
NEXT_PUBLIC_IDLE_INTERVAL="55"
NEXT_PUBLIC_IDLE_DEFAULT_EMOTION="happy"
NEXT_PUBLIC_IDLE_AI_GENERATION_ENABLED="true"
NEXT_PUBLIC_IDLE_TIME_PERIOD_ENABLED="true"
NEXT_PUBLIC_IDLE_TIME_PERIOD_MORNING="[happy][motion:wave]おはルミナ。朝から来たのえらい、今日のラメもう一粒足しとこ。"
NEXT_PUBLIC_IDLE_TIME_PERIOD_AFTERNOON="[happy]お昼のコメント欄、ちょっとシュガー足りてる？眠かったらルミナがつつきます。"
NEXT_PUBLIC_IDLE_TIME_PERIOD_EVENING="[relaxed]夜のネオンがついてきたね。今日の後味、みんなは甘めだった？"

NEXT_PUBLIC_SPEECH_RECOGNITION_MODE="browser"
NEXT_PUBLIC_CONTINUOUS_MIC_LISTENING_MODE="false"
NEXT_PUBLIC_SHOW_PRESET_QUESTIONS="true"
NEXT_PUBLIC_PRESET_QUESTIONS="自己紹介して,今日の雑談テーマを出して,初見さんに挨拶して,恋愛相談していい？,コメント欄に質問して"
NEXT_PUBLIC_CHAT_LOG_WIDTH="420"
